<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome To Smart Hotels</title>
    <link rel="stylesheet" href="/styles/main.css"/>
    <link rel="stylesheet" href="./assets/css/all.css">
</head>
<body class="picbg">

    <header>
        <div class="left">
            &emsp; 
        </div>
        <div class="center">Welcome to <span>Smart Hotels</span></div>
        <div class="right">
            <span id="right">
                <span class="fas fa-user"></span>
                <span >Account</span>
                <span id="fas1" class="fas fa-caret-up visible"></span>
                <span   id="fas2" class="fas fa-caret-down "></span>
            </span>
    <ul id="account_ops">
                <li>
                    <a href="./signup">Sign Up</a>
                </li>

                <li>
                    <a href="./login">Login</a>
                </li>
            </ul>
    
        </div>
    </header>

    <main></main>
    
   <%- include("partials/footer.ejs") %>


    <script>
        var right = document.querySelector("#right");
        var fas1 = document.querySelector("#fas1");
        var fas2= document.querySelector("#fas2");
        var account_ops = document.querySelector("#account_ops");

        right.addEventListener("click", function(){
            
            fas1.classList.toggle("visible");
            fas2.classList.toggle("visible");
            account_ops.classList.toggle("visible");
        })
        
    </script>
</body>
</html>